{% extends "base.html" %}

<!-- sets title -->
{% block title %}Cart{% endblock %}

<!-- hero -->
{% block hero %}
<section class="bg-violet-400 py-10">
	<!-- width limiter -->
	<div class="lg:max-w-5xl xl:max-w-7xl 2xl:max-w-[100rem] mx-auto px-8">
		
		<!-- body title -->
		<div class="flex items-center justify-center w-full mb-4">
			<h1 class="text-teal-300 text-4xl text-center font-bold">
				Cart
			</h1>
		</div>

		<!-- cart -->
		<div class="flex items-center justify-center w-full">
			<table class="w-fit sm:w-fit md:w-10/12 lg:w-9/12 bg-zinc-500 text-center md:text-left text-xl sm:text-3xl">
				<thead class="text-gray-100 text-bold">
					<tr>
						<th class="py-[0.25rem] px-2">
							Service
						</th>
						<th class="py-[0.25rem] px-2">
							Time
						</th>
						<th class="py-[0.25rem] px-2">
							Pricing
						</th>
					</tr>
				</thead>

				<tbody>
					{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
						{% if category == 'cart' %}
							{% for list in message %}
							<tr class="border-b-[2px] border-slate-500 even:bg-neutral-400 even:hover:bg-neutral-300 odd:bg-stone-400 odd:hover:bg-stone-300 even:text-gray-50 odd:text-zinc-50">
								<td class="py-[0.25rem] px-2">
									{{ list[1]['name'] }}
								</td>
								<td class="py-[0.25rem] px-2">
									{{ list[1]['chosenTime'][0] }}
								</td>
								<td class="py-[0.25rem] px-2">
									${{ list[1]['chosenTime'][1] }}
								</td>
							</tr>
							{% endfor %}
						{% endif %}
						{% endfor %}
					{% endif %}
					{% endwith %}
				</tbody>
				
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
					{% if category == 'sum' %}
							<thead class="text-gray-100 text-bold">
								<tr>
									<th class="py-[0.25rem] px-2 text-center" colspan="3">
										Total Price
									</th>
								</tr>
							</thead>
							<tbody>
								{% if message != 0 %}
								<tr class="border-b-[2px] border-slate-500 bg-stone-400 hover:bg-stone-300 text-emerald-200">
									<td class="py-[0.25rem] px-2 text-center" colspan="3">
										${{message}}
									</td>
								</tr>
								{% endif %}
							</tbody>
						{% endif %}
						{% endfor %}
					{% endif %}
					{% endwith %}

			</table>
		</div>

		<!-- check out button -->
			<div class="mt-5">
			 <form class="flex justify-center items-center" action="" method="POST">
					<label for="checkOut" class="hidden"></label>					
					<input value="checkOut" type="text" name="checkOut" class="hidden">
					<button type="sumbit" class="text-white text-2xl p-3 rounded-lg transition ease-in-out bg-violet-600 hover:bg-teal-400">Check Out</button>
				</form>
			</div>

	</div>
</section>
{% endblock %}
