{% extends "base.html" %}

<!-- sets title -->
{% block title %}Services{% endblock %}

<!-- hero -->
{% block hero %}
<section class="bg-violet-400 py-10">
	<!-- width limiter -->
	<div class="lg:max-w-5xl xl:max-w-7xl 2xl:max-w-[100rem] mx-auto px-8">
		
		<!-- body title -->
		<div class="flex items-center justify-evenly w-full mb-4">
			<h1 class="text-teal-300 text-4xl text-center font-bold">
				Services
			</h1>

			<div class="service-in-d group relative bg-violet-500 hover:bg-violet-600 transition p-2 sm:p-3 ml-2 sm:ml-0 rounded-xl">
				<button class="inline-flex items-center justify-center space-x-1 text-violet-50 hover:text-violet-200 transition">
					<span>Services Types</span>
					<svg class="service-in-s h-5 w-h group-hover:-rotate-180 transition" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
					</svg>
				</button>
				

				<!-- drop down -->
				<div class="service-in-c hidden animate__animated animate__fadeIn group-hover:block text-center text-left absolute -inset-x-2 sm:inset-x-4 top-full w-max shadow-xl bg-violet-50 border-b-2 border-teal-700 z-10">
					<a href="/services" class="text-teal-500 hover:text-violet-50 hover:bg-teal-600 block w-auto py-[3px] py-[10px] px-[20px]">All Services</a>
					<a href="/services/subject=math" class="text-teal-500 hover:text-violet-50 hover:bg-teal-600 block w-auto py-[3px] py-[10px] px-[20px]">Math</a>
					<a href="/services/subject=english" class="text-teal-500 hover:text-violet-50 hover:bg-teal-600 block w-auto py-[3px] py-[10px] px-[20px]">English</a>
					<a href="/services/subject=science" class="text-teal-500 hover:text-violet-50 hover:bg-teal-600 block w-auto py-[3px] py-[10px] px-[20px]">Science</a>
					<a href="/services/subject=history" class="text-teal-500 hover:text-violet-50 hover:bg-teal-600 block w-auto py-[3px] py-[10px] px-[20px]">History</a>
					<a href="/services/subject=satact" class="text-teal-500 hover:text-violet-50 hover:bg-teal-600 block w-auto py-[3px] py-[10px] px-[20px]">SAT/ACT</a>
				</div>
			</div>
		</div>

		<!-- services -->
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
			
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
					{% if category == 'data' %}
						{% for key, value in message.items() %}
						


							<div class="group animate__animated animate__bounceInUp h-max bg-violet-800 p-5 rounded-lg overflow-hidden m-5">
								<h1 class="text-white text-2xl mb-2 text-center md:text-left">{{value['name']}}</h1>
								<p class="text-slate-400 text-lg mb-2">{{value['description']}}</p>
								<h6 class="text-white text-xl mb-0.5 text-left">1 Hour: <span class="text-teal-300">${{value['1Hour']}}</span></h6>
								<h6 class="text-white text-xl mb-0.5 text-left">90 Minutes: <span class="text-teal-300">${{value['90Mins']}}</span></h6>
								<h6 class="text-white text-xl mb-2 text-left">2 Hours: <span class="text-teal-300">${{value['2Hours']}}</span></h6>
								<form class="flex justify-between space-x-1" action="" method="POST">
									<button type="sumbit" class="w-5/12 lg:w-5/12 text-white text-xl p-1 rounded-lg transition ease-in-out bg-violet-600 hover:bg-teal-400 group-hover:scale-110">Add to cart</button>
									
									<!-- allows flask to get data on what item the user added to cart -->
									<label for="itemId" class="hidden"></label>
									<input value={{key}} type="text" name="itemId" class="hidden">

									<label for="itemTime" class="hidden"></label>
									<select type="itemTime" name="itemTime" id="itemTime" class="w-5/12 lg:w-5/12 form-control group text-white text-xl p-1 bg-violet-600 rounded-lg border-hidden border-blue-500 focus:bg-teal-300 focus:text-violet-600 focus:border-solid" >
										<option>1 hour</option>
										<option>90 minutes</option>
										<option>2 hours</option>

									</select>
								</form>
							
							</div>
						
						{% endfor %}
					{% endif %}
					{% endfor %}
				{% endif %}
				{% endwith %}



		</div>

	</div>
	
</section>
{% endblock %}

{% block javascript %}

{% endblock %}